{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
            <script src="{% static 'scripts/app.js' %}" defer></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav>
            <ul class="navul">
            {% if user.is_authenticated %}
                <li id="auth"><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></li>
                <li id="auth"><a href="{% url 'logout' %}">Logout</a></li>
            {% now 'n' as cur_month %}
                <li class="navli"><a href="{% url 'calendar' user.username cur_month %}">Calendar</a></li>
                <li class="navli"><a href="/plants">Plant List</a></li>
                <li class="navli"><a href="/notes">Note List</a></li>
                <!-- <li class="navli"><a href="/admin">Admin</a></li> -->
            {% else %}
                <li id="auth"><a href="{% url 'login' %}">Login</a></li>
                <li id="auth"><a href="{% url 'signup' %}">SignUp</a></li>
            {% endif %}
                <li class="navli"><a href="/">Home</a></li>
                <li class="navli"><a href="/about">About</a></li>
            </ul>
        </nav>
            {% block content %}  
            {% endblock %}
    </body>
</html>
