{% extends 'base.html' %} 
{% block title %} 
Calendar 
{% endblock %}
{% load kfextras %}
<body>
		{% block content %}
		<Header id="headerStyle"><p>{{ username }}'s calendar:</p></Header>
		<div>
		<a href="{% url 'calendar' user.username month|add:'-1' %}"><<--</a>
		<!-- {% now "F" %} -->
		{{ month|month_name }}
		<a href="{% url 'calendar' user.username month|add:'1' %}">-->></a>	
		</div>

		{% for plant in plants %}
			<img src="{{plant.img}}" alt="{{plant.kind}}"width="150" height="220">
			<a href="/plants/{{ plant.id }}">
				<h3>{{ plant.kind }}</h3>

			</a>
			{% if plant.indoor_start.month == month %}
				Plant seed indoors
			{% endif %}
			{% if plant.outdoor_start.month == month %}
				Plant seed outdoors
			{% endif %}
		{% endfor %}

		{% endblock %}
</body>
