{% extends 'base.html' %} 

{% block title %} 
Note List 
{% endblock %} 

<body> 
{% block content %}
    <Header id="headerStyle"><h3>{{header}}</h3></Header>

    <div class='bodyStyle'>
        <!-- Search Form  -->
        <form> 
            <div>
				<a href="{% url 'note_create' %}">Add Note<br><br>
                <!-- <input type="text" name="kind" placeholder="note title"/></a>
                <input type="submit" value="Search"/>
                <button><a href="{% url 'note_list' %}">Clear Search</a></button> -->
            </div>
        </form>
        <!-- Plant_List Output  -->
        {% for note in notes %}
            <div class="plantList">
                <div class="plantStyle">
                    <a href="{% url 'note_detail' note.pk %}">
                    <h4>{{note.plant}}:{{note.date}}</h4></a>
                {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}
<body> 
