{% extends 'base.html' %} 

{% block title %} 
Plant Detail
{% endblock %}

<body>
    {% block content %}
		<Header id="headerStyle"><p>Plant Detail</p></Header>
    
		<div class='bodyStyle'>
            <img src="{{plant.img}}" alt="{{plant.kind}}"width="150" height="220"/>
			<h4>{{plant.kind}}</h4></a>
			<p>Variety: {{plant.variety}}</p>
			<p>Seed Depth: {{plant.seed_depth}}</p>
			<p>Seed Spacing: {{plant.seed_spacing}}</p>
			<p>Germination: {{plant.germination}}</p>
			<p>Plant Spacing: {{plant.plant_spacing}}</p>
			<p>Row Spacing: {{plant.row_spacing}}</p>
			<p>Days to Harvest: {{plant.days_to_harvest}}</p>
			<p>Ideal Sunlight: {{plant.sunlight}}</p>
			<p>Plant Seeds Indoors: {{plant.indoor_start}} - {{plant.indoor_stop}}</p>
			<p>Transplant Seedlings: {{plant.transplant_start}} - {{plant.transplant_stop}}</p>
			<p>Direct Seed Outdoors: {{plant.outdoor_start}} - {{plant.outdoor_stop}}</p>
			<p>Succession Planting: {{plant.succession}}</p>
		{% for note in notes %}
			<p>Notes: {{note.title}}</p>
		{% empty %}
			<div>Plant has no Notes.</div>
		{% endfor %}
			<p>Pests: {{plant.pest.name}}
		{% for pest in plant.pests.all %}
				<p> {{pest.name}}</p>
		{% empty %}
            <div>Plant has no Pests!</div>
        {% endfor %}
			<p>Created: {{plant.created_at}}</p>
			<a href="{% url 'plant_update' plant.pk %}">Update</a>
		    <a href="{% url 'plant_delete' plant.pk %}">Delete</a>	
		</div>

    {% endblock %}
</body>
