{% extends 'base.html' %} 

{% block title %} 
Plant Detail
{% endblock %}

<body>
    {% block content %}
		<Header id="headerStyle"><p>Plant Detail</p></Header>
    
		<div class='bodyStyle'>
            <img src="{{plant.img}}" alt="{{plant.kind}}"width="150" height="220"/>
			<h4>{{plant.kind}}</h4></a>
			<p>Variety: {{plant.variety}}</p>
			<p>Seed Depth: {{plant.seed_depth}}</p>
			<p>Seed Spacing: {{plant.seed_spacing}} inch(es)</p>
			<p>Germination: {{plant.germination}} days</p>
			<p>Plant Spacing: {{plant.plant_spacing}} inch(es)</p>
			<p>Row Spacing: {{plant.row_spacing}}</p>
			<p>Days to Harvest: {{plant.days_to_harvest}}</p>
			<p>{{plant.sunlight}}</p>
			<p>Plant Seeds Indoors: {{plant.indoor_start|date:'M j'}} - {{plant.indoor_stop|date:'M j'}}</p>
			<p>Transplant Seedlings: {{plant.transplant_start|date:'M j'}} - {{plant.transplant_stop|date:'M j'}}</p>
			<p>Plant Seeds Outdoors: {{plant.outdoor_start|date:'M j'}} - {{plant.outdoor_stop|date:'M j'}}</p>
			<p>Succession: {{plant.succession}}</p>
		{% for note in notes %}
			<p>Notes: <a href="{% url 'note_detail' note.pk %}">
            {{note.title}}</p></a>
		{% empty %}
			<div>Plant has no notes!</div>
		{% endfor %}
			<div><a href="{% url 'note_create' %}">Add Note</a>
			</div>
			<p>Pests: {{plant.pest.name}}
		{% for pest in plant.pests.all %}
				<p> {{pest.name}}</p>
		{% empty %}
            <div>Plant has no Pests!</div>
        {% endfor %}
			<p>Created: {{plant.created_at|date:'F j, Y'}}</p>
			<a href="{% url 'plant_update' plant.pk %}">Update</a>
		    <a href="{% url 'plant_delete' plant.pk %}">Delete</a>	
		</div>

    {% endblock %}
</body>
