{% extends 'base.html' %} 

{% block title %} 
Plant Delete
{% endblock %} 

<body>
    {% block content %}

		<div class="formContainer">
			<div id="formStyle"></div>
                <h1>Are you sure you want to Delete {{plant.kind}}</h1>
                    <form method="post">
                        {% csrf_token %}
			            	<div id="formStyle">
                        <!-- confirm delete -->
                            <input type="submit" value="Confirm" />
                        <!-- Redirect back to detail on cancel -->
                            <button><a href="{% url 'plant_detail' plant.pk %}">Cancel</a></button>
                            </div>
                    </form>
            </div>
        </div>
    {% endblock %}  
</body>