{% extends 'base.html' %} 

{% block title %} 
Plant List 
{% endblock %} 

<body> 
{% block content %}
    <Header id="headerStyle"><h3>Plant List</h3></Header>

    <div class='bodyStyle'>
        <!-- Search Form  -->
        <form> 
            <div>
                <!-- <button><a href="{% url 'plant_create' %}">Add a new Plant</a></button><br><br> -->
                <input type="text" name="kind" placeholder="plant kind"/>
                <input type="submit" value="Search"/>
                <button><a href="{% url 'plant_list' %}">Clear Search</a></button>
            </div>
        </form>
        <!-- Plant_List Output  -->
        {% for plant in plants %}
            <div class="plantList">
                <div class="plantStyle">
                    <img src="{{plant.img}}" alt="{{plant.kind}}"width="150" height="220">
                    <a href="{% url 'plant_detail' plant.pk %}">
                    <h4>{{plant.kind}}: {{plant.variety}}</h4></a>
                    <!-- <p>Variety: </p> -->
                    <!-- <p>Seed Depth: {{plant.seed_depth}}</p>
                    <p>Seed Spacing: {{plant.seed_spacing}}</p>
                    <p>Germination: {{plant.germination}}</p>
                    <p>Plant Spacing: {{plant.plant_spacing}}</p>
                    <p>Row Spacing: {{plant.row_spacing}}</p>
                    <p>Days to Harvest: {{plant.days_to_harvest}}</p>
                    <p>Ideal Sunlight: {{plant.sunlight}}</p>
                    <p>Plant Seeds Indoors: {{plant.indoor_start}} - {{plant.indoor_stop}}</p>
                    <p>Transplant Seedlings: {{plant.transplant_start}} - {{plant.transplant_stop}}</p>
                    <p>Direct Seed Outdoors: {{plant.outdoor_start}} - {{plant.outdoor_stop}}</p>
                    <p>Succession Planting: {{plant.succession}}</p>
                    <p>Notes: {{plant.notes}}</p>
                    <p>Created: {{plant.created_at}}</p>
                    <p>Updated: {{plant.updated_at}}</p> -->
                    <!-- <p>Adopted By: 
                        <a href='/user/{{plant.user.username}}'>{{plant.user.username}}</a> -->
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
<body> 
